@charset "utf-8";
/************分页***********/




.product_list h1{background:url(../images/jia_1.jpg) #f23900 no-repeat left top;height:36px;line-height:36px;color:#fff;font-weight:bold;text-align:center;font-size:14px;}
.product_list h2{background:url(../images/jia_1.jpg) #f23900 no-repeat left top;height:32px;line-height:32px;color:#fff;font-weight:bold;text-align:center;font-size:14px;}
.product_list_dl{border:1px solid #f23900;overflow:hidden;zoom:1;padding:10px;padding-top:0px;}
.product_list_dl dt{background:url(../images/icon17.jpg) no-repeat right center;font-weight:bold;line-height:24px;height:24px;margin-top:6px;cursor:pointer;}
.product_list_dl dd{border-bottom:1px solid #e9e9e9;padding-bottom:6px;}
.product_list_dl dd li{line-height:23px;background:url(../images/icon26.jpg) no-repeat 0;padding-left:10px;}
.promotional .lows{border:1px solid #eaeaea;border-top:2px solid #ffb400;margin-top:10px;overflow:hidden;zoom:1;padding-bottom:7px;}
.promotional .lows h3{background:url(../images/icon18.jpg) no-repeat 80px 8px;font-size:14px;font-weight:bold;line-height:30px;height:30px;color:#ff6600;padding-left:10px;}
.promotional .lows .p_list{padding:10px;}
.promotional .lows .p_list li{float:left;width:56px;height:23px;line-height:23px;overflow:hidden;white-space:nowrap;}
.lists li{float:left;margin-left:45px;display:inline;width:160px;overflow:hidden;}
.location{line-height:30px;height:30px;font-family:'宋体';}
.location a{margin:0 5px;}
.location span{margin-left:5px;color:#f13900;}
.hot_recommended{width:800px;margin-top:-10px;float:left;}
.hot_re_list{border:1px solid #eaeaea;overflow:hidden;zoom:1;padding:10px 0px;}
.hot_re_list li{float:left;margin-left:9px;display:inline;margin-right:9px;width:22.4%;}
.discounts{width:190px;float:right;}
.discounts .news{background:url(../images/h_title.jpg) repeat-y;padding:5px;overflow:hidden;zoom:1;}
.discounts .news .news_title{background:url(../images/icon19.gif) no-repeat 87px 8px;padding-left:20px;font-size:14px;font-weight:bold;line-height:30px;height:30px;}
.discounts .news .news_ul{background:#fff;padding:8px 0;overflow:hidden;zoom:1;}
.discounts .news .news_ul li{background:url(../images/icon20.jpg) no-repeat 0px 10px;padding-left:10px;margin:0 5px;line-height:24px;zoom:1;clear:both;height:24px;overflow:hidden;}


.products_filter{
	/*height:32px;line-height:32px;background:url(../images/h_title.jpg) no-repeat left center;clear:both;overflow:hidden;border:1px solid #ebebeb;border-bottom:none;*/
height: 33px;padding: 0 10px;line-height: 33px; clear:both;zoom:1;
}
.products_filter h1 {float: left;font-size: 14px;font-weight: 700; color:#F83207;}
.products_filter strong {float: left;font-size: 14px;font-weight: 700;}
.products_filter .actions {float: right;}
.products_filter .actions a { color:#000;}
.category_list{border:1px solid #ebebeb;overflow:hidden;zoom:1;padding:10px;}
.category_list li{padding:5px 0;overflow:hidden;clear:both;zoom:1;}
.category_list li span{margin:5px;padding:2px 7px;float:left;display:inline;}
.category_list li a{margin:5px;background:#fff;padding:2px 7px;float:left;display:inline;white-space:nowrap;}
.category_list li a:hover{text-decoration:none;}
.category_list li a.on{margin:5px;background:#ff6600;color:#fff;padding:2px 7px;display:inline;float:left;}

.product_vs{border:1px solid #ebebeb;overflow:hidden;zoom:1;border-top:none;padding-top:10px;clear:both;}
.product_vs_list li{width:220px;float:left;margin:0px 14px; display:inline;height:230px;}

.search_list{border:1px solid #f23900;overflow:hidden;zoom:1;padding:10px;padding-top:0px;}
.search_list li{border-bottom:1px solid #ccc;line-height:30px;height:30px;overflow:hidden;font-weight:bold;}
.search_list h3{background:url(../images/xys.jpg) no-repeat center center;height:23px;line-height:23px;text-align:center;text-decoration:none;margin-top:10px;}
.search_list h3 a:hover{text-decoration:none;}
.search_title{border:1px solid #eaeaea;height:42px;line-height:42px;border-top:none;background:url(../images/icon28.jpg) repeat-x;color:#ff6600;font-size:14px;font-weight:bold;padding-left:10px;}

.search_title h1 { margin:0px; padding:0px; display:inline; font-size:14px; color:#ff6600; font-weight:bold;}


.detail_list dl{border:1px solid #f23900;overflow:hidden;zoom:1;padding:10px;padding-top:0px;}
.detail_list dt{font-weight:bold;line-height:28px;height:28px;margin-top:4px;color:#f23900;font-size:14px;}
.detail_list dd{border-bottom:1px solid #e9e9e9;padding-bottom:6px;overflow:hidden;clear:both;zoom:1;}
.detail_list dd li{line-height:23px;float:left;width:83px;overflow:hidden;height:23px;}
.same_brand{border:1px solid #ddd;margin-top:10px;clear:both;overflow:hidden;zoom:1;}
.same_brand h3{background:#f8f8f8;font-size:14px;font-weight:bold;padding-left:10px;line-height:30px;height:30px;border-bottom:1px solid #eaeaea;}
.same_brand h4{background:url("../images/m_34.jpg") repeat-x left bottom; border-bottom:1px solid #ddd; font-size:14px;color:#f23900;font-weight:bold;padding-left:10px;line-height:30px;height:30px;}
.same_brand_list{padding:10px 0;padding-left:10px;}
.same_brand_list li{float:left;width:57px;line-height:25px;height:25px;}
.same_brand_list_love{padding-bottom:10px;}
.same_brand_list_love li{padding-left:10px;padding-top:10px;clear:both;zoom:1;}
.same_brand_list_love li img{border:1px solid #e5e5e5;margin-right:5px;}
.prodetailsinfo{overflow:hidden;clear:both;}
.prodbaseinfo_title{font-size:14px;font-weight:bold;border-bottom:1px dashed #dfdfdf;line-height:20px;color:#333;}
.proviewbox{float:left;width:350px;}
.prodbaseinfo{float:right;width:600px;}
.prodbaseinfo .choose{border:1px solid #fff2a0;background:#fffceb;clear:both;overflow:hidden;padding:5px 10px;}
.prodbaseinfo .choose .buy .buys1{width:158px;height:43px;overflow:hidden;float:left;}
.prodbaseinfo .choose .buy .buys1 img{margin-left:-15px;}
.prodbaseinfo .choose .buy .buys2{width:88px;height:38px;overflow:hidden;float:left;}
.prodbaseinfo .choose .buy .buys2 img{margin-left:-178px;}
.prodbaseinfo .choose .buy .buys3{width:158px;height:43px;overflow:hidden;float:left;}
.prodbaseinfo .choose .buy .buys3 img{margin-left:0px;}
.prodbaseinfo .choose .ass {border-bottom:1px dotted #EED97C; padding:5px 0px;}
.prodbaseinfo .choose .ass a {border: 1px solid #CCCCCC; padding: 4px 6px; background:#fff; margin:0px 3px;}
.prodbaseinfo .choose .ass a:hover {border: 2px solid #FF8500; padding: 4px 5px; background:url(../images/xiangxdagou.gif) no-repeat right bottom #fff;}
.prodbaseinfo .choose .ass .ahover {border: 2px solid #FF8500; padding: 4px 5px; background:url(../images/xiangxdagou.gif) no-repeat right bottom #fff;}



.prodbaseinfo .ul_list{padding-top:10px;}
.prodbaseinfo .ul_list li{padding:10px 0px;overflow:hidden;clear:both;}
.prodbaseinfo .xing{padding-top:2px;}
.prodbaseinfo .xing span{width:12px;height:10px;overflow:hidden;float:left;}
.prodbaseinfo .xing span img{margin-top:-117px;}
.prodbaseinfo .dtc_list{padding-top:16px;}
.prodbaseinfo .dtc{float:left;background:url(../images/sprite.gif) no-repeat -485px 3px;padding-left:16px;padding-right:20px;}
.prodbaseinfo .share{float:left;}
.prodbaseinfo .share .sina,.qqweibo,.renren,.kaixin,.douban,.msn,.qq,.mail{width:17px;height:17px;float:left;overflow:hidden;margin-right:5px;display:inline;}
.prodbaseinfo .share .sina img{margin-top:-132px;}
.prodbaseinfo .share .qqweibo img{margin-top:-132px;margin-left:-23px;}
.prodbaseinfo .share .renren img{margin-top:-132px;margin-left:-45px;}
.prodbaseinfo .share .kaixin img{margin-top:-132px;margin-left:-67px;}
.prodbaseinfo .share .douban img{margin-top:-132px;margin-left:-89px;}
.prodbaseinfo .share .msn img{margin-top:-132px;margin-left:-111px;}
.prodbaseinfo .share .qq img{margin-top:-132px;margin-left:-133px;}
.prodbaseinfo .share .mail img{margin-top:-132px;margin-left:-155px;}
.combination{background:url(../images/icon29.jpg) repeat-x;border:1px solid #eaeaea;border-top:3px solid #ffb400;overflow:hidden;zoom:1;clear:both;padding-bottom:20px;padding-left:10px;}
.prodbaseinfo .menu_select li{border-bottom:0;float:left;display:inline;margin-left:3px;cursor:pointer;clear:none;}
.prodbaseinfo .menu_select li.select_color_off{padding:0 1px;border:2px solid #FF8500;background:#fff;}
.prodbaseinfo .menu_select li.select_color_on{padding:1px 2px;border:1px solid #CCCCCC;background:#fff;}
.combination h1{background:url(../images/icon18.jpg) no-repeat right center;padding-left:10px;color:#ff6600;font-size:14px;font-weight:bold;display:inline;padding-right:20px;line-height:30px;height:30px;padding-left:10px;overflow:hidden;clear:both;}
.combination_d{float:left;width:605px;border:1px solid #ebebeb;background:#fff;overflow:hidden;zoom:1;clear:both;padding:10px 0;}
.combination_d1{width:120px;float:left;padding:0 20px;}
.combination_d2{background:url(../images/sprite.gif) no-repeat -15px -49px;width:30px;height:30px;float:left;margin:0 10px;margin-top:60px;display:inline;}
.combination_d3{width:120px;float:left;padding-left:50px;}
.combina_buy{float:left;width:140px;padding-left:20px;}
.combination_buy{background:url(../images/sprite.gif) no-repeat -54px -49px;display:block;text-align:center;line-height:22px;color:#fff;width:80px;height:24px;margin-top:74px;}
a.combination_buy:hover{color:#fff;text-decoration:none;}
.prodinfobox{clear:both;overflow:hidden;border-bottom:2px solid #be0000;overflow:hidden;zoom:1;margin-top:10px;}
.prodinfobox li{float:left;margin-right:5px;display:inline;}
.prodinfobox li a{background:url(../images/nav_title.jpg) no-repeat bottom left;color:#c00000;float:left;height:27px;line-height:27px;padding-left:10px;font-size:14px;font-weight:bold;}
.prodinfobox li a span{background:url(../images/nav_title.jpg) no-repeat bottom right;display:block;padding-right:10px;}
.prodinfobox li a:hover{background:url(../images/nav_title.jpg) no-repeat;text-decoration:none;color:#fff;}
.prodinfobox li a:hover span{background:url(../images/nav_title.jpg) no-repeat top right;display:block;padding-right:10px;}
.prodinfobox li a.on{background:url(../images/nav_title.jpg) no-repeat;text-decoration:none;color:#fff;}
.prodinfobox li a.on span{background:url(../images/nav_title.jpg) no-repeat top right;display:block;padding-right:10px;}
.prodinfo_detail{padding:10px;zoom:1;overflow:hidden;}
.prodinfob{border-bottom:1px dashed #ccc;padding-bottom:10px;clear:both;overflow:hidden;zoom:1;}
.prodinfob li{float:left;width:380px;overflow:hidden;line-height:24px;height:24px;overflow:hidden;}
.de_title{background:url(../images/icon30.jpg) no-repeat;height:34px;line-height:34px;padding-left:10px;font-size:14px;font-weight:bold;color:#cc0000;}
.de_centent{border:1px solid #e4e4e4;border-top:none;width:798px;overflow:hidden;zoom:1;position:relative;}
.de_centent .pro_left{position:absolute;left:10px;top:5px;display:block;background:url(../images/sprite.gif) no-repeat 0 -161px;width:27px;height:193px;}
.de_centent .pro_right{position:absolute;top:5px;right:10px;display:block;background:url(../images/sprite.gif) no-repeat -32px -161px;width:27px;height:193px;}
.de_centent .pro_scroll{width:700px;margin-left:47px;overflow:hidden;height:193px;padding-top:10px;}
.de_centent .pro_scroll ul{width:19880px;}
.de_centent .pro_scroll ul li{float:left;width:120px;overflow:hidden;display:inline;margin-left:20px;margin-right:40px;}
.prodinfoboxs{clear:both;overflow:hidden;border-bottom:2px solid #be0000;overflow:hidden;zoom:1;margin-top:10px;}
.prodinfoboxs li{float:left;margin-right:5px;display:inline;}
.prodinfoboxs li a{background:url(../images/nav_title.jpg) no-repeat bottom left;color:#c00000;float:left;height:27px;line-height:27px;padding-left:10px;font-size:14px;font-weight:bold;}
.prodinfoboxs li a span{background:url(../images/nav_title.jpg) no-repeat bottom right;display:block;padding-right:10px;}
.prodinfoboxs li a:hover{background:url(../images/nav_title.jpg) no-repeat;text-decoration:none;color:#fff;}
.prodinfoboxs li a:hover span{background:url(../images/nav_title.jpg) no-repeat top right;display:block;padding-right:10px;}
.prodinfoboxs li a.on{background:url(../images/nav_title.jpg) no-repeat;text-decoration:none;color:#fff;}
.prodinfoboxs li a.on span{background:url(../images/nav_title.jpg) no-repeat top right;display:block;padding-right:10px;}
.evaluate{border:1px solid #e4e4e4;zoom:1;margin-top:10px;}
.evaluate1{float:left;width:px;border-right:1px solid #e4e4e4;width:100px;margin:10px 0;padding:40px 0;}
.evaluate2{float:left;width:238px;border-right:1px solid #e4e4e4;margin:10px 0;padding:40px 0;}
.evaluate2 li{overflow:hidden;clear:both;padding-top:2px;padding-bottom:2px;padding-left:10px;}
.evaluate2or{background:url(../images/sprite.gif) no-repeat 0 -390px;width:152px;height:11px;overflow:hidden;float:left;margin:3px 5px 0 5px;cursor:pointer;}
.evaluate2or .p10,.evaluate2or .p20,.evaluate2or .p30,.evaluate2or .p40,.evaluate2or .p50,.evaluate2or .p60,.evaluate2or .p70,.evaluate2or .p80,.evaluate2or .p90{background:url(../images/sprite.gif) no-repeat 0 -373px;display:block;height:11px;}
.evaluate2or .p10{width:10%;}
.evaluate2or .p20{width:20%;}
.evaluate2or .p30{width:30%;}
.evaluate2or .p40{width:40%;}
.evaluate2or .p50{width:50%;}
.evaluate2or .p60{width:60%;}
.evaluate2or .p70{width:70%;}
.evaluate2or .p80{width:80%;}
.evaluate2or .p90{width:90%;}
.evaluate3{float:left;padding-left:30px;}
.evaluate3 .submit_comments{border:0;background:none;cursor:pointer;display:block;width:74px;height:27px;background:url(../images/sprite.gif) no-repeat -269px 0;}
.evaluate3 .ev_in .inputs{resize:none;width:365px;}
.evaluates label{padding:0 5px;}
.evaluates label input{margin-left:3px;}
.evaluate3 li{padding-top:10px;}
.evaluates_box{overflow:hidden;clear:both;position:relative;margin-top:10px;zoom:1;}
.evaluates_box1{background:#ffffff;border:1px solid #dcdcdc;border-bottom:none;border-right:none;text-align:center;float:left;width:100px;overflow:hidden;padding-bottom:1000px;margin-bottom:-1000px;padding-top:10px;}
.evaluates_box2{background:#fafafa;border:1px solid #dcdcdc;border-bottom:none;float:left;width:647px;padding-left:30px;padding-right:20px;line-height:24px;padding-bottom:1000px;margin-bottom:-1000px;}
.evaluates_box .trigon{background:url(../images/icon31.jpg) no-repeat;width:8px;height:13px;position:absolute;top:50%;left:101px;margin-top:-7px;}
.pages a{padding:0 5px;}
.evaluates_box_gm{background:#f9f9f9;border:1px solid #efefef;margin-top:10px;padding:10px;color:#999;}
.eva_zx{background:url(../images/sprite.gif) no-repeat -486px -26px;padding-left:20px;line-height:24px;}
.eva_hh{background:url(../images/sprite.gif) no-repeat -486px -199px;padding-left:20px;line-height:24px;}
.evaluates_zx{background:#f9f9f9;border:1px solid #efefef;margin-top:10px;padding:10px;padding-left:40px;}
.evaluates_zx li{padding:5px 0;}
.evaluates_zx .evalua_text{resize:none;width:694px;height:100px;}
.evaluates_zx .submit_evaluates{border:0;background:none;cursor:pointer;background:url(../images/sprite.gif) no-repeat -15px -93px;width:72px;height:29px;line-height:29px;display:block;}
.login_title{background:url(../images/login_sprite.jpg) no-repeat 0 -48px;height:26px;padding-left:16px;font-size:14px;font-weight:bold;padding-top:10px;color:#000;}
.login_centent{background:url(../images/login_p.jpg) repeat-y;overflow:hidden;zoom:1;clear:both;padding-bottom:20px;float:left;width:1000px;}
.login_centent_leftg{float:left;overflow:hidden;width:500px;}
.login_footer{border:0;background:none;background:url(../images/login_sprite.jpg) no-repeat 0 -103px;height:5px;overflow:hidden;clear:both;}
.login_sub{cursor:pointer;border:0;background:none;background:url(../images/login_sprite.jpg) no-repeat -1px -1px;width:105px;height:38px;display:block;text-align:center;font-size:14px;color:#fff;line-height:38px;font-weight:bold;}
a.login_sub:hover{color:#fff;text-decoration:none;}
.login_sub_input{border:1px solid #bbbbbb;width:238px;padding:0 5px;line-height:24px;height:24px;}
.login_centent_leftg li{padding-left:111px;padding-top:15px;}
.login_centent_leftg li .check_box{margin-right:2px;}
.login_centent_leftg li label{cursor:pointer;}
.lo_sub{background:url(../images/login_sprite.jpg) no-repeat -106px -1px;width:129px;height:43px;display:block;color:#000;text-align:center;font-size:14px;font-weight:bold;line-height:36px;}
a.lo_sub:hover{color:#000;text-decoration:none;}
.lo_entrance{border-top:1px dashed #ccc;padding-top:10px;margin-top:10px;}
.lo_entrance a{margin:0 35px;}
.reg_centent{border:1px solid #ddd;zoom:1;clear:both;padding:20px 80px; margin-top:6px;}
.register_ti ul{background:url(../images/login_sprite.jpg) no-repeat 0 -108px;height:31px;padding-left:331px;padding-top:41px;}
.register_ti li{float:left;margin:0 5px;}
.register_ti li a{display:block;text-align:center;font-size:14px;font-weight:bold;line-height:27px;width:82px;height:27px;color:#000;}
.register_ti li a:hover{background:url(../images/login_sprite.jpg) no-repeat -238px -2px;text-decoration:none;color:#000;}
.register_ti li a.on{background:url(../images/login_sprite.jpg) no-repeat -238px -2px;text-decoration:none;color:#000;}
.register_te{}
.reg_enterprise{padding-top:10px;overflow:hidden;clear:both;zoom:1;}
.reg_enterp_left{float:left;width:320px;border-right:1px solid #ccc;line-height:26px;padding-left:60px;}
.reg_enterp_right{float:left;line-height:26px;padding-left:40px;width:400px;}
.reg_personal{}
.regist{clear:both;overflow:hidden;}
.reg_tabls .text{border:1px solid #BBBBBB;font-size:14px;height:16px;padding:4px 3px;width:240px;}
.reg_tabls .text-1{width:100px;}
.re_sub{background:url("../images/submit_bg.gif") repeat scroll 0 -254px transparent; width:205px;height:44px;display:block;}
.agreement{border:1px solid #CCCCCC;color:#666666;height:80px;margin:0 auto;overflow-y:scroll;padding:8px;width:600px;line-height:24px;padding:10px;}
.regist_title{border-top:1px solid #ccc;padding-top:10px;margin-top:20px;overflow:hidden;clear:both;zoom:1;font-size:14px;font-weight:bold;padding-left:100px;padding-bottom:10px;}
.reg_tabls tr td{padding-bottom:20px;padding-top:10px;}
.left_common{float:left;width:190px;overflow:hidden;}
.left_common_h1{background:#f23900;height:36px;line-height:36px;color:#fff;font-weight:bold;text-align:center;font-size:14px;}
.left_help{overflow:hidden;zoom:1;border:1px solid #e0e0e0;}
.left_help dt{background:url(../images/help1.jpg) no-repeat;height:27px;line-height:27px;font-weight:bold;padding-left:20px;}
.left_help dd ul li{line-height:24px;text-align:center;padding-right:10px;}
.left_help dd ul li a:hover{font-weight:bold;}
.left_help1{border:1px solid #eaeaea;border-top:2px solid #ffb400;border-bottom:none;overflow:hidden;zoom:1;margin-top:10px;background:url(../images/help2.jpg) no-repeat 170px 10px;line-height:26px;height:26px;font-size:14px;font-weight:bold;padding-left:10px;color:#ff6600;padding-top:5px;}
.left_help1_list{border:1px solid #eaeaea;border-top:none;padding-left:10px;overflow:hidden;zoom:1;}
.left_help1_list li{border-top:1px solid #eaeaea;line-height:24px;height:24px;background:url(../images./icon20.jpg) no-repeat 0;padding:0 10px;}
.help_com_centent{border:1px solid #eaeaea;overflow:hidden;zoom:1;}
.order_title{background:url(../images/sprite1.jpg) no-repeat;height:28px;line-height:28px;font-size:14px;font-weight:bold;padding:0 10px;}
.order_centent{border-left:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden;zoom:1;clear:both;}
.input_text{border:1px solid #cacaca;width:194px;height:20px;}
.order_list{padding-top:20px;}
.order_list li{padding-left:250px;line-height:24px;padding-bottom:10px;}
.order_sub{background:url(../images/sprite1.jpg) no-repeat 0 -49px;width:97px;height:31px;display:block;text-align:center;font-weight:bold;line-height:26px;color:#000;}
a.order_sub:hover{color:#000;text-decoration:none;}
.order_footer{background:url(../images/sprite1.jpg) no-repeat 0 -37px;height:7px;overflow:hidden;}
.news_centent{padding:0 15px;}
.news_centent li{line-height:22px;padding-bottom:10px;}
.news_centent li .ipho{background:url(../images/icon20.jpg) no-repeat 0;padding-left:10px;}
.news_centent li .ipho a{font-weight:bold;color:#333;}
.right_common{float:right;width:800px;overflow:hidden;}
.new_vsnews{padding:10px 30px;}
.shopping_process{width:1002px;height:32px;background:url(../images/login_sprite.jpg) no-repeat 0px -400px;margin:10px auto;clear:both;margin-bottom:10px;}

.shopping_pro_t{background:url(../images/login_sprite.jpg) no-repeat 0 -181px;height:9px;overflow:hidden;}
.shopping_pro_c{ border:1px solid #ddd; padding:10px 20px;overflow:hidden;clear:both;zoom:1;}
.shopping_pro_c_t{background:#f9f9f9;border:1px solid #ddd;overflow:hidden;zoom:1;clear:both;display:block; color:#333;padding:20px;}
.shopping_pro_c_th1{border-bottom:1px solid #ddd;line-height:30px;font-weight:bold;padding:0 10px;color:#000; background:#E6e6e6;}
.shopping_pro_c_tul{padding:10px;}
.shopping_pro_c_tul li{padding:4px 0;}
.sp_text{height:20px;border:1px solid #ccc;line-height:20px;padding:0 5px;width:150px;color:#bfbfbf;}
.shopping_pro_c_sub{border:0;background:none;background:url(../images/login_sprite.jpg) no-repeat -494px 0;width:138px;height:32px;cursor:pointer;font-size:14px;color:#fff;line-height:32px;font-weight:bold;margin-top:10px;}
.shopping_pro_f{background:url(../images/login_sprite.jpg) no-repeat 0 -103px;height:5px;overflow:hidden;}
.select_wh125p{width:125px;height:20px;}
.select_wh72p{width:72px;height:20px;}
.bank{padding:10px 0;padding-left:22px;}
.bank a img{margin-right:10px;margin-top:5px;}
.shop_pro_c_t{}
.shop_pro_c_t_th1{border:1px solid #e1e1e1;border-bottom:none;line-height:30px;font-weight:bold;padding:0 10px;color:#000;}
.order_there tr th{border:1px solid #e6e6e6;text-align:center;line-height:30px;background:#f4f4f4;}
.order_there tr td{border:1px solid #e6e6e6;text-align:center;}
.order_there_s{background:#f7f7f7;line-height:30px;padding:0 10px;}
.order_there_sub{margin-top:10px;border:0;background:none;cursor:pointer;background:url(../images/login_sprite.jpg) no-repeat -838px -207px;font-size:14px;line-height:45px;font-weight:bold;color:#fff;width:162px;height:45px;}
.order_there_m{overflow:hidden;line-height:28px;padding-top:20px;position:relative;}
.sp_pr_title{background:url(../images/login_sprite.jpg) no-repeat -951px -264px;height:42px;font-size:24px;font-family:'微软雅黑';font-weight:bold;color:#cc0000;padding-left:60px;width:450px;margin:0 auto;}
.order_ok_sub{border:0;background:none;background:url(../images/login_sprite.jpg) no-repeat -640px -207px;width:97px;height:30px;text-align:center;line-height:25px;padding-bottom:5px;color:#000;font-weight:bold;cursor:pointer;}
.login_centent_lefts{float:left;overflow:hidden;clear:both;zoom:1;}
.login_centent_lefts li{padding-left:29px;padding-top:30px;}
.shop_one{overflow:hidden;clear:both;zoom:1;}
.ork_gshop{background:url(../images/login_sprite.jpg) no-repeat -27px -206px;width:605px;height:32px;}
.shop_one table{border:1px solid #e6e6e6;}
.shop_one .red_dark img{margin-right:10px;}
.shop_one_s td{background:url(../images/shop1.jpg) repeat-x;height:28px;line-height:28px;text-align:center;}
.shop_one_s1 td{background:url(../images/shop1.jpg) repeat-x;height:28px;line-height:28px;text-align:left;padding-left:10px;color:#cc0000;font-weight:bold;}
.shop_one .line td{border:1px solid #e6e6e6;text-align:center;}
.shop_one .lines td{font-size:14px;font-weight:bold;padding-right:10px;background:#f4f4f4;padding:10px;line-height:32px;}
.shopsub_1{border:0;background:none;background:url(../images/login_sprite.jpg) no-repeat -637px 0;width:130px;height:39px;cursor:pointer;padding-bottom:5px;font-size:14px;font-weight:bold;padding-left:16px;}
.shopsub_2{border:0;background:none;background:url(../images/login_sprite.jpg) no-repeat -771px 0;width:104px;height:37px;cursor:pointer;font-size:14px;font-weight:bold;color:#fff;padding-left:16px;}
.shop_title{background:url(../images/shop2.jpg) no-repeat;height:34px;line-height:34px;padding-left:10px;font-weight:bold;color:#cc0000;margin-top:10px;}
.shop_ct{border:1px solid #e4e4e4;border-top:none;overflow:hidden;clear:both;zoom:1;padding-bottom:10px;}
.shop_ct li{float:left;padding-left:68px;width:120px;overflow:hidden;padding-top:10px;}
.gift_typ_left{width:20px;height:13px;float:left;overflow:hidden;cursor:pointer;margin-left:10px;display:inline;margin-top:4px;}
.shop_one .j{width:110px;}
.gift_typ_right{width:20px;height:13px;float:left;overflow:hidden;cursor:pointer;margin-left:10px;display:inline;margin-top:4px;}
.gift_typ_right img{margin-left:-64px;}
.j .gift_input{width:30px;height:20px;line-height:20px;border:1px solid #ccc;text-align:center;float:left;margin-left:10px;display:inline;}
.order_information{margin:0 10px;border-bottom:1px dashed #dfdfdf;}
.order_infors{background:#f0f0f0;padding:10px 20px;}
.order_infs{padding:10px 20px;}
.order_infs tr th{background:url(../images/member/process1.jpg) repeat-x;height:28px;line-height:28px;border:1px solid #e6e6e6;}
.order_infs tr td{border:1px solid #e6e6e6;text-align:center;line-height:28px;}
.product-details{margin-top:10px;}
.inside-figure-focus{float:left;width:352px;}
.inside-figure-focus .probigshow img{border:1px solid #E4E4E4;}
.inside-figure-focus .probigshow img{vertical-align:top;}
.inside-figure-focus .prothumb{padding-top:10px;overflow:hidden;width:352px;float:left;height:60px;}
#thumb_scroll{position:relative;margin:5px 0 0 5px}
#thumb_scroll img.scroller{float:left;cursor:pointer;}
#thumb_list{position:relative;float:left;overflow:hidden;}
#thumb_list ul{position:absolute;left:0;}
#thumb_list li{list-style-type:none;float:left;display:inline;}
.scroller{background-image:url(../images/details.gif);width:15px;height:58px;float:left;}
.scroller-left-normal{background-position:0px 0px;cursor:pointer;}
.scroller-left-highlight{background-position:-32px 0px;cursor:pointer}
.scroller-right-normal{background-position:-16px 0px;float:right;cursor:pointer;}
.scroller-right-highlight{background-position:-48px 0px;cursor:pointer;}
.thumbporbox{margin-left:8px;width:308px;height:58px;float:left;display:inline;overflow:hidden;}
.thumbporbox ul{float:left;width:1000px;}
.thumbporbox li{float:left;margin-right:4px;display:inline;}
.thumbporbox img{vertical-align:top;}
.thumbporbox a:hover{zoom:1;}
.normal img{border:1px solid #BBBBBB;display:block;}
.highlight img{border:1px solid #CC0000;display:block;}
.cloud-zoom-lens{border:1px solid #999;margin:-4px;background-color:#fff;cursor:move;}
.cloud-zoom-title{font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
.cloud-zoom-big{border:1px solid #666;overflow:hidden;}
.cloud-zoom-loading{color:white;background:#222;padding:3px;border:1px solid #000;}
.reg_info{position:relative;display:block;}
.reg_hint_2line{background:url(/images/c.jpg) 0 0px;width:295px;height:44px;float:left;position:absolute;left:0;top:10px;z-index:3;padding-top:10px;padding-left:20px;overflow:hidden;}
.reg_hint_1line{background:url(/images/c.jpg) 0 -58px;width:295px;height:40px;float:left;position:absolute;left:0;top:8px;z-index:2;line-height:40px;padding-left:20px;}
.reg_err_msg{background:url(/images/c.jpg) 0 -104px;border-right:1px solid #f18200;height:23px;float:left;position:absolute;left:0;top:14px;z-index:1;line-height:24px;overflow:hidden;padding-left:25px;padding-right:10px;}
.reg_infos .reg_err_msg{width:100px;}
.reg_pass{position:absolute;top:17px;left:0px;background:url(/images/rightico.jpg) no-repeat;padding:0 20px 0 0;height:20px;color:green;line-height:20px;}
.delivery-address-input100{width:100px;height:16px;line-height:16px;border:1px solid #d7ccc5;color:#666666;}
.delivery-address-input60{width:60px;height:16px;line-height:16px;border:1px solid #d7ccc5;color:#666666;}
.consu_de_tcen{border:1px solid #DDD;padding:10px;overflow:hidden;clear:both;zoom:1;}
.advisory-details-left{float:left;width:140px;text-align:center;line-height:24px;}
.advisory-details-right{float:left;margin-left:10px;display:inline;width:650px;}
.backgroundf2{background:#F2F2F2;line-height:24px;padding:10px;}



.link .sabrosus{margin:3px;padding:3px;text-align:right}
.link .sabrosus a{border:#dddddd 1px solid;padding:5px 8px;color:#444444;}
.link .sabrosus a:hover{border:1px solid #ffaf50;color:#f08200;text-decoration:none;}
.link .pagination a:active{BORDER-RIGHT:#2b66a5 1px solid;BORDER-TOP:#2b66a5 1px solid;BORDER-LEFT:#2b66a5 1px solid;COLOR:#000;BORDER-BOTTOM:#2b66a5 1px solid;BACKGROUND-COLOR:lightyellow}
.link .sabrosus span.current{border:1px solid #ffaf50;padding:5px 8px;font-weight:bold;color:#ffaf50;margin-right:2px;}
.link .sabrosus span.disabled{border:1px solid #ddd;color:#929292;margin-right:2px;padding:5px 5px;}


.ql_common_alert{z-index:9999;width:auto!important;width:300px;min-width:300px;max-width:400px;position:absolute;}
.ql_common_alert_title{cursor:move;background:#f08200;height:25px;line-height:25px;color:#fff;padding-left:10px;font-size:14px;font-weight:bold;font-family:Microsoft YaHei;}
.ql_common_alert_title span{float:right;margin-right:5px;display:inline;background:url(/images/ql_aleret.gif) no-repeat;width:23px;cursor:pointer;height:20px;overflow:hidden;margin-top:2px;}
.ql_common_alert_content{background:#FFF5E4;border:1px solid #aaa;border-top:none;padding:10px 16px 12px 16px;text-align:center;}
.ql_common_alert_content p{text-align:left;font-size:14px;padding-bottom:10px;}
.ql_common_alert_button{background:none;border:none;background:url(/images/ql_aleret.gif) no-repeat 1px -40px;width:85px;height:29px;color:#fff;font-size:14px;cursor:pointer;}
.ql_common_alert_button::-moz-focus-inner{border:none;}
.ql_common_confirm{z-index:9999;width:auto!important;width:450px;min-width:450px;max-width:400px;position:absolute;}
.ql_common_confirm_title{cursor:move;background:#f08200;height:25px;line-height:25px;color:#fff;padding-left:10px;font-size:14px;font-weight:bold;font-family:Microsoft YaHei;}
.ql_common_confirm_title span{float:right;margin-right:5px;display:inline;background:url(/images/ql_aleret.gif) no-repeat;width:23px;cursor:pointer;height:20px;overflow:hidden;margin-top:2px;}
.ql_common_confirm_content{background:#FFF5E4;border:1px solid #aaa;border-top:none;padding:10px 16px 12px 16px;text-align:center;}
.ql_common_confirm_content p{text-align:left;font-size:14px;padding-bottom:10px;}
.ql_common_confirm_button{background:none;border:none;background:url(/images/ql_aleret.gif) no-repeat 1px -40px;width:85px;height:29px;color:#fff;font-size:14px;cursor:pointer;}
.ql_common_confirm_button::-moz-focus-inner{border:none;}
.ql_common_confirm .button_left{}
.ql_common_confirm .button_right{margin-left:30px;}
.popup_login_title,.popup_login_content ul li,.popup_login_content .on,.popup_login_content .off,.popup_loginbott_login,.popup_loginbott_up{background:url(/images/login.gif) no-repeat;}
.menu h2,.menu ul li,.menu h3,.main-title,.main-order tr th,.input-label,.modify{background:url(../images/use-pic.gif) no-repeat;}
.popup_mask{position:absolute;background:#000;top:0;left:0;width:100%;z-index:9997;filter:alpha(opacity=50);-moz-opacity:0.4;opacity:0.4;}
.popup_login{width:638px;margin:0 auto;position:absolute;z-index:9999;}
.popup_login .close{cursor:pointer}
.popup_login img.code, .popup_login .change_code{cursor:pointer}
.popup_login_title{height:29px;width:638px;overflow:hidden;float:left;}
.popup_login_title span{padding-left:10px;font-size:14px;color:#fff;font-weight:bold;line-height:29px;float:left;display:inline;}
.popup_login_title a{width:21px;height:17px;overflow:hidden;float:right;margin-top:5px;margin-right:5px;display:inline;}
.popup_login_title a img{margin-left:-665px;}
.popup_login_content{border:1px solid #cdcdcd;background:#fff;width:636px;overflow:hidden;float:left;zoom:1;position:relative;}
.popup_login_content ul{width:622px;float:left;border-bottom:1px solid #dddddd;margin-left:9px;display:inline;margin-top:10px;height:28px;}
.popup_login_content ul li{float:left;width:90px;height:28px;text-align:center;line-height:28px;font-size:14px;cursor:pointer;font-weight:bold;margin-left:10px;display:inline;}
.popup_login_content .on{background-position:-93px -30px;color:#626161;}
.popup_login_content .off{background-position:0 -30px;color:#E26901;}
#register_tab{position:absolute;left:110px;top:11px;}
#login_tab{position:absolute;left:10px;top:11px;}
.popup_loginbott_login{border:none;background-position:-186px -31px;width:83px;height:28px;text-align:center;color:#fff;font-weight:bold;cursor:pointer}
.popup_loginbott_up{border:none;background-position:-272px -31px;width:133px;height:28px;text-align:center;color:#f08200;cursor:pointer}
.popup_loginon{clear:both;padding:10px 0;}
.popup_loginon .register_item_hint{color:#aaa}
.input220{width:210px;}
.input510{width:510px;}
.input110{width:100px;}
.input55{width:45px;}
.input38{width:38px;}
.input180{width:170px;}
.input160{width:150px;}
.input143{width:143px;}
.input150{width:150px;}
.input227{width:217px;}
.input170{width:160px;}
.input237{width:237px;}
.input220,.input510,.input110,.input55,.input38,.input180,.input143,.input150,.input150,.input160,.input170,.input227,.input237{border:1px solid #D7CCC5;color:#666666;height:20px;line-height:20px;padding:0 5px;}
.kinput150{width:150px;line-height:26px;height:26px;border:1px solid #D7CCC5;padding:0 5px;}
.order-wrapper-title{width:988px;margin:0 auto;margin-top:10px;clear:both;line-height:29px;height:29px;background:url(../images/member/o_13.jpg) repeat-x left top;border-left:1px solid #ccc;border-right:1px solid #ccc;font-size:14px;font-weight:bold;padding-left:10px;}
.newproshow{margin:0 auto;width:998px;overflow:hidden;clear:both;border:1px solid #ccc;padding:10px 0;}
.newproshow li{float:left;width:120px;padding-left:41px;}
.sort_wrap_title{background:url(../images/sort1.jpg) repeat-x left bottom;padding-bottom:10px;overflow:hidden;zoom:1;margin-top:10px;clear:both;}
.sort_wrap_title li{float:left;margin-left:10px;display:inline;}
.sort_wrap_title li a{background:#f0f0f0;display:block;height:30px;color:#333333;line-height:30px;font-size:14px;font-weight:bold;padding:0 16px;float:left;}
.sort_wrap_title li a:hover{background:#f13900;text-decoration:none;color:#fff;}
.sort_wrap_title li a.on{background:#f13900;text-decoration:none;color:#fff;}
.sort_content{border:1px solid #ddd;overflow:hidden;clear:both;zoom:1;}
.sort_cleft{float:left; float: left; margin: 10px; width: 48%;}
.sort_left_co{border:1px solid #eaeaea;margin-left:5px;margin-top:10px;margin-right:5px;}
.sort_cleft_h1{background:url(../images/sort3.jpg) repeat-x;height:28px;line-height:28px;border-bottom:1px solid #eaeaea;}
.sort_cleft_h1 span{background:url(../images/sort2.jpg) no-repeat;padding-left:16px;color:#333333;font-size:14px;font-weight:bold;display:block;}
.sort_cleft_h1 span a{color:#333;}
.sort_cleft_dl{border-bottom:1px dotted #CCCCCC;padding:8px 5px;overflow:hidden;line-height:24px;margin:0 5px;zoom:1;}
.sort_cleft_dl dt{color:#CC0000;float:left;font-weight:bold;padding-right:10px;text-align:right;width:15%;}
.sort_cleft_dl dt a{color:#CC0000;}
.sort_cleft_dl dd{float:left;width:83%;overflow:hidden;}
.sort_cleft_dl dd a{padding:0px 10px;white-space:nowrap;}
.sort_left_co .fore{border-bottom:none;}
.sort_cright{float:right;width:490px;padding-right:5px;}
.compare{background:#fff;border:1px solid #C4C4C4;width:200px;position:absolute;right:5px;top:220px;overflow:hidden;zoom:1}
.compare_h1{line-height:30px;height:30px;font-size:13px;font-weight:bold;padding-left:10px;background:#F3F3F3;}
.compare_h1 .close{float:right;padding:0 2px;text-decoration:none;font-size:14px;font-weight:bold;}
.compare .comprolist{padding:2px;}
.compare .comprolist li{margin-bottom:2px;border:1px solid #E5E5E5;padding:4px 12px 4px 4px;}
.compro_bottom{text-align:center;margin-bottom:4px;}
.compro_bottom .btn{cursor:pointer;}
.tb-1 tr td{}
.compare-yt .s{height:158px;}
.compare-yt .s1{height:158px;line-height:158px;}
.compare-yt .y{width:74px;}
.compare-yt .z{width:307px;}
.compare-yt ul{border-left:1px solid #ccc;overflow:hidden;}
.compare-yt li{float:left;border-right:1px solid #ccc;}
.compare-yt p{text-align:center;line-height:28px;border-bottom:1px solid #ccc;padding:5px 10px;height:28px;overflow:hidden;}
.a_compare{cursor:pointer;}
.order_view{border:1px solid #eed97c;background:#fffceb;padding:10px;}
.order_view .ts{border-bottom:1px dashed #eed97c;line-height:30px;height:30px;}
.login_title{background:url(../images/login_sprite.jpg) no-repeat 0 -48px;height:26px;padding-left:16px;font-size:14px;font-weight:bold;padding-top:10px;color:#000;}
.login_centent{background:url(../images/login_p.jpg) repeat-y;overflow:hidden;zoom:1;clear:both;padding-bottom:20px;float:left;width:1000px;}
.login_centent_left{float:left;overflow:hidden;width:100%;}
.login_footer{border:0;background:none;background:url(../images/login_sprite.jpg) no-repeat 0 -103px;height:5px;overflow:hidden;clear:both;}
.login_sub{cursor:pointer;border:0;background:none;background:url(../images/login/login_22.gif) no-repeat 0px 0px;width:95px;height:32px;display:block;text-align:center;font-size:12px;color:#fff;line-height:32px;font-weight:bold;}
a.login_sub:hover{color:#fff;text-decoration:none;}
.login_sub_input{border:1px solid #bbbbbb;width:180px;padding:0 5px;line-height:24px;height:24px;}
.login_centent_left li{padding-left:30px;padding-top:15px;}
.login_centent_left li .check_box{margin-right:2px;}
.login_centent_left li label{cursor:pointer;}
.login_centent_right{width:284px;float:left;padding:20px;background:#f9f9f9;border:1px solid #ececec;margin-left:72px;display:inline;overflow:hidden;margin-top:20px;}
.lo_sub{background:url("../images/login/login_34.gif") no-repeat;color:#FFFFFF;display:block;font-size:14px;font-weight:100;height:25px;line-height:25px;padding-left:10px;text-align:left;width:102px;}
a.lo_sub:hover{color:#fff;text-decoration:none;}
.lo_entrance{border-top:1px dashed #ccc;padding-top:10px;margin-top:10px;}
.lo_entrance a{margin:0 35px;}
.login{width:1002px;margin:0px auto;height:500px;}
.login_left{width:578px;float:left;}
.login_right{width:424px;float:left;}
.login_left_top{height:103px;background:url(../images/logo.jpg) no-repeat left 37px;}
.login_right_r01{height:85px;background:url(../images/login/login_05.gif) no-repeat 182px 40px;}
.login_right_r03{background:URL(../images/login/login-t2.jpg) no-repeat;height:200px;}
.login_right_r04{background:URL(../images/login/login-t3.jpg) no-repeat;height:145px;overflow:hidden;}
.login_right_r04_bg{background:URL(../images/login/login_26.jpg) center top no-repeat;height:14px;width:363px;margin-left:8px;}
.login_left ul{list-style:none;}
.login_left ul li{color:#888888;float:left;padding:10px;width:171px;}
.login_left ul .li2{padding:10px 0;width:1px;}
.login_left ul li strong{font-size:12px;font-family:'微软雅黑','黑体';color:#F30;font-style:italic;}
.comment-list{clear:both;overflow:hidden;border-bottom:1px solid #ccc;zoom:1;}
.comment_list_wrap{position:relative;overflow:hidden;zoom:1;clear:both;}

/**************detail***********/
.buykuan{ font-size:12px; line-height:17px; height:17px; border:1px solid #e8b42d; background:#fff;}

.dianshu{background:url(../images/xing_dian.gif) no-repeat left top; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_10{background:url(../images/xing_dian.gif) no-repeat left -22px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_15{background:url(../images/xing_dian.gif) no-repeat left -44px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_20{background:url(../images/xing_dian.gif) no-repeat left -66px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_25{background:url(../images/xing_dian.gif) no-repeat left -88px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_30{background:url(../images/xing_dian.gif) no-repeat left -110px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_35{background:url(../images/xing_dian.gif) no-repeat left -132px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_40{background:url(../images/xing_dian.gif) no-repeat left -154px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_45{background:url(../images/xing_dian.gif) no-repeat left -176px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_50{background:url(../images/xing_dian.gif) no-repeat left -198px; float:left; display:inline; width:148px; height:22px; line-height:22px;}
.dianshu_55{background:url(../images/xing_dian.gif) no-repeat left -220px; float:left; display:inline; width:148px; height:22px; line-height:22px;}

/**********兑换**********/

.add-integral-cart {
	background:url(../images/submit_bg.gif) no-repeat left -687px;
	width:99px;
	height:38px;
	display:block;
	letter-spacing: -500000px;
	}