 @{
    Layout = "~/Areas/Shop/Themes/M3/Views/Shared/_BaseLayout.cshtml";
 }

<!--Conent Start-->
    <div class="w980" style="  margin-top:-10px">
         <img alt="" src="/Areas/Shop/Themes/M3/Content/images/App.jpg"  style=" width:980px"/>
    </div>
    <!--Conent End-->
    
    
    