@model List<Maticsoft.Model.Settings.Advertisement>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <a href="@item.NavigateUrl" class="moving" target="_blank">
        <img src="@item.FileUrl" />
    </a>

    }
}
