                <li class="weiboLogin">
                	<i class="icon1"><img src="/Areas/Shop/Themes/M3/Content/images/weibo.png" /></i>
                    <a href="@(ViewBag.Basepath)social/sina">微博登录</a>
                </li>
                <li class="QQLogin">
                    <i class="icon2"><img src="/Areas/Shop/Themes/M3/Content/images/QQ.png" /></i>
                    <a href="@(ViewBag.Basepath)social/qq">QQ登录</a>
                </li>
                <li class="loginInfo"><a href="@(ViewBag.Basepath)Account/Login">登录</a></li>
                <li class="register"><a href="@(ViewBag.Basepath)Account/Register">注册</a></li>