                <li class="loginInfo"><a href="@(ViewBag.Basepath)UserCenter">欢迎您，@ViewBag.loginnickname</a></li>
                <li class="register"><a href="@(ViewBag.Basepath)Account/Logout">退出</a></li>