@{
    Layout = "~/Areas/Shop/Themes/M3/Views/Shared/_BaseLayoutWithOutCate.cshtml";
}
<link rel="stylesheet" href="/Areas/Shop/Themes/M3/Content/styles/pay.css" type="text/css" />
<link rel="stylesheet" href="/Areas/Shop/Themes/M3/Content/styles/list.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Areas/Shop/Themes/M3/Content/styles/style.css"/>

 

<div class="order-wrapper">
    <div class="successk">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px dashed #efd9af;">
            <tbody><tr>
                       <td height="45" colspan="3" align="left">
                           <span style=" font-family:&#39;微软雅黑&#39;,黑体; font-size:18px; font-weight: bold; color:#C00;"> 您的充值存在风险，请查看充值状态或稍后重试。</span>
                       </td>
                   </tr>
                <tr>
                    <td height="35" colspan="3" align="left">充值号：@(ViewBag.RechargeId)</td>
                </tr>
                <tr>
                   @* <td height="35" colspan="3" align="left"><strong><span class="ftx-01">@(ViewBag.ItemsCount)</span>件商品将发送给 @(ViewBag.ShipName)</strong></td>*@
                </tr>
                <tr>
                    <td width="65%" height="60" align="left" valign="middle"><input type="button" border="none" name="" class="btn-conti" style="display: none;" value="继续支付"></td>
                </tr>
            </tbody></table>
    </div>

</div>


<input type="hidden" value="@ViewBag.RechargeId" id="RechargeId"/>
<input type="hidden" value="@ViewBag.PayStatus" id="Status"/>
<script type="text/javascript">
    (function () {
        $("#guide_2").mouseover(function () { $("#category").show(); }).mouseout(function () { $("#category").hide(); });

        var id = $('#RechargeId').val();
        var url;
        if (id) {
            url = '/pay/account' + id;
        } else {
            url = $Maticsoft.BasePath + 'UserCenter/Balance';
        }
        $('.btn-conti').unbind('click').bind('click', function () {
            window.location.replace(url);
        });
    })();
</script>
